<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The World of Tanks</title>
  </head>
  <body>
  <li>
    <a href="/tanks">View Tanks</a>
  </li>
  <li>
    <a href="/customers">View Customers</a>
  </li>
    <%= yield  %>
  </body>
</html>
