<form method="post" action="/tanks">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="country-of-origin">Country of Origin:</label>
  <input id="country-of-origin" type="text" name="country_of_origin"/>

  <input type="submit" value="Add Tank">

</form>
<br>
<form method="post" action="/customers">
  <label for="name">Name:</label>

  <input id="name" type="text" name="name"/>
  <input type="submit" value="Add Customer">

</form>
