<% for rental in @rentals %>
  <p>Tank: <%= rental.tank_id() %> </p>
  <p>Customer: <%= rental.customer_id() %> </p>
  <p>Status: <%= rental.rental_status() %> </p>
  <p><a href="/rentals/<%= rental.id %>">Show Rental</a></p>
  <hr />
  <% end %>
