  <ul>
    <% for rental in @rentals %>
    <li>
<p><%= rental.tank.name  %></p>
    </li>
    <li>
      <p><%= rental.customer.name  %></p>
    </li>
    <p><a href="/rentals/<%= rental.id %>">Show Rental</a></p>
    <% end  %>
    <hr />
  </ul>
