<p>Tank: <%= @rental.tank.name %></p>
<p>Customer: <%= @rental.customer.name %> </p>
<p>Status: <%= @rental.rental_status %></p>


<form action="/rentals/<%=@rental.id%>" method="post">
<input type="submit" value="Change Status">
</form>
